<html>

<body>
    <table *ngIf="tabproduit.length" datatable class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Référence</th>
                <th>Désignation</th>
                <th>Marque</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pr of tabproduit">
                <td><img src={{pr.imageart}} width="80" height="80"/> </td>
                <td>{{pr.reference}} </td>
                <td>{{pr.designation}} </td>
                <td>{{pr.marque}} </td>
                <td>{{pr.prix}} </td>
                <td>{{pr.qtestock}} </td>
                <td><button class="btn btn-warning" [routerLink]="['/editarticle/',pr._id]">Modifier</button></td>
                <td><button class="btn btn-danger">Supprimer</button></td>
            </tr>
        </tbody>

    </table>
</body>
</html>